.*
vectordb
names.db
names.zip
names_all_years.csv
1grams_english.csv
obscene.txt
plot_code.py
reddit_jokes.json
stopwords-en.txt
finetuning_gemini.jsonl
finetuning_openai.jsonl
sonnets.txt
reviews.json
distill_train.jsonl
